@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bumbo - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ninja_manager.styles.css" asp-append-version="true" />
</head>

<body>

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="display-4">U bent Uitgelogd</h1>
        <h1 class="display-4">Doei Bumbo!</h1>
    </div>
</div>


    <script>
        setTimeout(function () {
            window.location.href = '/Authentication/Login';
        }, 1000);
    </script>

</body>

</html>
